/* src/styles/ForecastSummary.css */

.forecast-summary {
    margin: 10px;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    background-color: #A0A0A0;
    border: 3px solid #354348
    ;
}

.forecast-summary div {
    margin-top: 5px;
}

.forecast-summary__icon > i {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 40px;
}

.forecast-summary > button {
    margin: 5px;
    border-radius: 5px;
    padding: 5px;
}

.forecast-summary > button:hover {
    background-color: #A0A0A0;
    border: 3px solid #354348;
}