@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&family=Poppins:wght@500&family=Press+Start+2P&display=swap');


body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #eceef1;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
