/* src/styles/ForecastDetails.css */

.search-form {
    text-align: left;
    height: 30px;
    margin-bottom: 20px; 
}

.search-form > * {
    height: 100%;
}

.search-form button {
    margin-left: 20px;
    border-radius: 5px;
}

.search-form button:hover {
    background-color: #A0A0A0;
    border: 3px solid #354348;
}